* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* font-family: "Roboto", sans-serif; */
}

body {
  font-family: "Roboto", sans-serif;
}

#wrapper {
  height: 55px;
  background-color: rgb(241, 238, 241);
  text-decoration: none;
  border: none;
}

.clearfix:after,
.clearfix:before {
  content: "";
  display: table;
  clear: both;
}

/* .clearfix:after {
  clear: both;
} */

.logo {
  float: left;
  text-transform: uppercase;
  background-image: url(../img/mk2.jpg);
  background-size: cover;
  background-position: center;
  height: 8.5%;
  width: 10%;
  font-size: 1.15em;
  font-weight: 700;
  color: red;
  position: absolute;
  margin: 0 5px 0 25px;
}

.links {
  float: right;
  font-size: 0.9em;
  padding-top: 1em;
}

.ul-links {
  display: inline-flex;
  margin: 0 30px 0 30px;
  list-style: none;
  text-transform: capitalize;
  cursor: pointer;
}

.ul-links li {
  margin-right: 20px;
}

.ul-links li a {
  text-decoration: none;
  color: black;
  font-weight: 700;
  /* border-bottom: 3px solid red; */
  padding-bottom: 5px;
}

.front-p {
  height: 60vh;
  background-image: url(../img/mk5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.page-letters {
  float: right;
  margin: 120px auto;
}

.front-p-letters {
  text-align: center;
  font-weight: 700;
  line-height: 1.2rem;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 5px;
  padding: 5px;
}

.fp-letters {
  text-align: center;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 5px;
  padding: 5px;
}

.fpp-letters {
  text-align: center;
  font-size: 0.7rem;
  text-transform: capitalize;
  margin: 5px;
  padding: 5px;
}

.btn {
  border: none;
  align-self: center;
  height: 30px;
  width: 100px;
  background-color: rgb(248, 82, 82);
  cursor: pointer;
  border: 1px solid red;
  position: absolute;
  margin: 20px 0 0 150px;
  font-size: 0.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.bucket {
  height: 60vh;
  border: none;
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.bucket-x1 {
  height: 300px;
  width: 500px;
  margin: 25px 50px 25px 30px;
  border: 2px solid rgb(247, 144, 144);
}

.bucket-x1-pic1 {
  height: 250px;
  width: 300px;
  background-image: url(../img/mk3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px;
}

.bucket-x1-pic2 {
  height: 250px;
  width: 300px;
  background-image: url(../img/mk6.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px;
}

.bucket-x1-pic3 {
  height: 250px;
  width: 300px;
  background-image: url(../img/mk7.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 10px;
}

.bucket-x1-lett1 {
  text-align: center;
  font-size: 0.7rem;
}

.our-pro {
  height: 55px;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
}

.pro-1 {
  height: 3px;
  width: 50px;
  background-color: rgb(82, 81, 81);
  margin: 5px auto;
}

.container-new {
  height: 120vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.our-pro-x1 {
  width: 250px;
  height: 300px;
  /* background-color: rgb(248, 82, 82); */
  margin: 20px;
}

.our-pro-x1-pic {
  width: 200px;
  height: 250px;
  background-image: url(../img/mk_white1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5px auto;
}

.our-pro-x1-pic2 {
  width: 200px;
  height: 250px;
  background-image: url(../img/mk_white3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5px auto;
}

.our-pro-x1-pic3 {
  width: 200px;
  height: 250px;
  background-image: url(../img/mk_white4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5px auto;
}

.our-pro-x1-pic4 {
  width: 200px;
  height: 250px;
  background-image: url(../img/mk_white5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5px auto;
}

.our-pro-x1-pic5 {
  width: 200px;
  height: 250px;
  background-image: url(../img/mk_white6.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5px auto;
}

.our-pro-x1-pic6 {
  width: 200px;
  height: 250px;
  background-image: url(../img/mk_pw1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5px auto;
}

.our-pro-x1-pic7 {
  width: 200px;
  height: 250px;
  background-image: url(../img/mk_pw3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5px auto;
}

.our-pro-x1-pic8 {
  width: 200px;
  height: 250px;
  background-image: url(../img/mk_pw4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5px auto;
}

.pro-x1-lett {
  text-align: center;
  margin: 5px 0;
  font-size: 0.7rem;
}

.inputBox {
  align-self: center;
  height: 30px;
  width: 200px;
  left: -50%;
  font-size: 0.8rem;
  margin: 20px 0 0 465px;
  font-style: italic;
}

.btn-x1 {
  border: none;
  align-self: center;
  height: 30px;
  width: 100px;
  background-color: rgb(248, 82, 82);
  cursor: pointer;
  border: 1px solid red;
  position: absolute;
  margin: 20px 0 0 5px;
  font-size: 0.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.container {
  height: 40vh;
  /* flex-wrap: wrap;
  justify-content: center; */
  background-image: url(../img/mk1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.our-block {
  height: 55px;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
}

.container-x1 {
  height: 50vh;
  display: flex;
  justify-content: center;
  position: relative;
}

.site-x1 {
  height: 250px;
  width: 450px;
  background-image: url(../img/mk8.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;
  margin: 20px;
}

.site-x2 {
  height: 250px;
  width: 450px;
  background-image: url(../img/mk4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;
  margin: 20px;
}

.site-x1-letters {
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  position: absolute;
  bottom: 20%;
  left: 25%;
}

.site-x1-le {
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  position: absolute;
  bottom: 15%;
  left: 26%;
}

.site-x1-lett {
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  position: absolute;
  bottom: 20%;
  left: 65%;
}

.site-x1-le1 {
  color: white;
  font-size: 0.8rem;
  font-weight: 700;
  text-align: center;
  position: absolute;
  bottom: 15%;
  left: 67%;
}

.container-x2 {
  height: 70vh;
  background-color: rgb(56, 55, 55);
  color: white;
  display: flex;
}

.about-us {
  height: 400px;
  width: 200px;
  margin: 20px 50px;
}

.about-us h4 {
  text-transform: uppercase;
}

.a-us {
  margin: 20px 0;
  padding: 0;
  line-height: 1.5rem;
  font-size: 0.8rem;
}

.shop-ul {
  margin: 20px 0;
  padding: 0;
  text-decoration: none;
  line-height: 2.5rem;
}

.shop-ul li {
  list-style: none;
}

.shop-ul li a {
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 0.8rem;
}

.support-ul {
  margin: 20px 0;
  padding: 0;
  text-decoration: none;
  line-height: 2.5rem;
}

.support-ul li {
  list-style: none;
}

.support-ul li a {
  text-decoration: none;
  list-style: none;
  color: white;
  font-size: 0.8rem;
}

.isnta-pic {
  height: 50px;
  width: 60px;
  background: white;
  display: inline-block;
  background-image: url(../img/mk4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.isnta-pic:nth-child(2) {
  background-image: url(../img/mk9.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.isnta-pic:nth-child(3) {
  background-image: url(../img/mk_white2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.isnta-pic:nth-child(4) {
  background-image: url(../img/mk8.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.isnta-pic:nth-child(5) {
  background-image: url(../img/mk_pw2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.isnta-pic:nth-child(6) {
  background-image: url(../img/mk_pw3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pic {
  margin: 20px 0;
}

.cright-footer {
  height: 5vh;
  background: rgb(56, 55, 55);
  /* position: relative; */
}

.copyright {
  color: white;
  text-align: center;
  bottom: 10px;
  font-size: 0.7rem;
  font-weight: 300;
}

/* About styling */

.abt-us {
  text-align: center;
  /* margin: 0 0 0 5px; */
  /* padding: 0; */
  font-size: 1rem;
  /* color: rgb(248, 82, 82); */
  /* background-image: url(../img/mk7.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.7;
  margin-top: 0;
  width: 50%;
  justify-content: center;
  margin-left: 350px; */
}

.abt-us h2 {
  text-transform: uppercase;
}

.abt-us p {
  margin: 0;
  color: black;
  font-size: 0.7rem;
}

.our-vision {
  height: 350px;
  /* background-color: blue; */
  display: flex;
  margin: 20px;
}

.vision-letters {
  width: 100vw;
  /* background-color: red; */
  margin-top: 10px;
  line-height: 1.2rem;
}

.vision-letters h2 {
  margin: 20px;
  padding: 5px;
  line-height: 1.2rem;
}

.vision-letters p {
  margin: 5px;
  line-height: 1.7rem;
  font-size: 0.9rem;
}

.pic-x {
  width: 100vw;
  background-image: url(../img/abt2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  /* margin-top: 10px; */
  /* padding-bottom: 20px;
  padding-top: 20px;
  margin-left: 20px; */
}

.pic1 {
  width: 100vw;
  background-image: url(../img/abt1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 10px;
  margin-right: 20px;
  padding: 0;
  height: 350px;
}

.pic2 {
  width: 100vw;
  background-image: url(../img/abt3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* margin-top: 10px; */
  margin-left: 20px;
  padding: 0;
  padding-top: 20px;
  height: 350px;
}

/* contact - styling */
.con-tainer {
  height: 60vh;
  background-image: url(../img/mk1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  opacity: 0.5;
  margin: 0;
}

.con-tainer-x1 {
  height: 60vh;
  /* background-image: url(../img/mk1.jpg); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  opacity: 0.5;
  margin: 50px;
  display: flex;
}

.btn-x2 {
  border: none;
  align-self: center;
  height: 30px;
  width: 100px;
  background-color: rgb(248, 82, 82);
  cursor: pointer;
  border: 1px solid red;
  position: absolute;
  margin: 20px 0 0 550px;
  font-size: 0.6rem;
  font-weight: 700;
  text-transform: uppercase;
}

.front-p-letters-con {
  text-align: center;
  font-weight: 700;
  line-height: 1.2rem;
  font-size: 2rem;
  text-transform: uppercase;
  /* margin: 20px; */
  padding: 20px;
  /* color: white; */
  text-transform: capitalize;
}

.fpp-letters-con {
  text-align: center;
  font-size: 0.7rem;
  text-transform: capitalize;
  margin: 5px;
  padding: 5px;
  line-height: 1.2rem;
  /* color: white; */
}

.con-tact {
  margin: 15px;
}

.left-side {
  margin: 30px;
  margin-left: 30px;
  width: 30vw;
}

.contact-x1 {
  margin: 20px;
  background-color: rgb(80, 78, 78);
  height: 80px;
  width: 300px;
  text-align: left;
  font-size: 0.9rem;
  padding: 20px 0 0 20px;
  font-weight: 500;
  line-height: 1.2rem;
  color: white;
}

.con-tact input {
  margin: 20px 10px 10px 0;
}

.Message-cont {
  height: 70px;
  width: 395px;
}

.goo-gle {
  margin: 25px;
  display: flex;
}

.map {
  margin-left: 5px;
  padding-top: 10%;
}

/* Gallery styling */

.gall-ery {
  height: 180vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-image: url(../img/mk_rm1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.child-gal {
  width: 250px;
  height: 300px;
  background-color: rgb(248, 82, 82);
  margin: 20px;
}

.child-gal:nth-child(1) {
  background-image: url(../img/mk1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 5px solid white;
  width: 150px;
}

.child-gal:nth-child(2) {
  background-image: url(../img/mk5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 5px solid white;
  width: 350px;
}

.child-gal:nth-child(3) {
  background-image: url(../img/mk2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 5px solid white;
  width: 350px;
}

.child-gal:nth-child(4) {
  background-image: url(../img/mk3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 5px solid white;
  width: 150px;
}

.child-gal:nth-child(5) {
  background-image: url(../img/mk4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 5px solid white;
  width: 150px;
}

.child-gal:nth-child(6) {
  background-image: url(../img/mk_pw2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 5px solid white;
}

.child-gal:nth-child(7) {
  background-image: url(../img/mk_pw3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 5px solid white;
  width: 450px;
}

.child-gal:nth-child(8) {
  background-image: url(../img/mk_pw4.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 5px solid white;
  width: 150px;
}

.child-gal:nth-child(9) {
  background-image: url(../img/mk_pw5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 5px solid white;
  width: 350px;
}

.child-gal:nth-child(10) {
  background-image: url(../img/mk_br1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 5px solid white;
  width: 200px;
}

.child-gal:nth-child(11) {
  background-image: url(../img/mk_br2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 5px solid white;
  width: 200px;
}

.child-gal:nth-child(12) {
  background-image: url(../img/mk_br3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: 5px solid white;
}

@media (max-width: 767px) {
  .links {
    font-size: 0.7em;
  }
  .bucket {
    width: 100%;
    display: block;
  }

  .bucket-x1 {
    height: 150px;
    width: 350px;
    margin: 10px 25px 10px 45px;
    border: 0.5px solid rgb(247, 144, 144);
  }

  .bucket-x1-pic1 {
    height: 120px;
    width: 340px;
    margin: 5px;
  }

  .bucket-x1-pic2 {
    height: 120px;
    width: 340px;
    margin: 5px;
  }

  .bucket-x1-pic3 {
    height: 120px;
    width: 340px;
    margin: 5px;
  }

  .our-pro {
    height: 25px;
    text-align: center;
    margin-top: 10px;
    text-transform: uppercase;
    font-size: 0.7rem;
    font-weight: 600;
    margin-top: 150px;
  }

  .container-new {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .our-pro-x1 {
    width: 150px;
    height: 200px;
    margin: 20px;
  }

  .our-pro-x1-pic {
    width: 150px;
    height: 150px;
    margin: 1px auto;
  }
  .our-pro-x1-pic2 {
    width: 150px;
    height: 150px;
    margin: 1px auto;
  }
  .our-pro-x1-pic3 {
    width: 150px;
    height: 150px;
    margin: 5px;
  }
  .our-pro-x1-pic4 {
    width: 150px;
    height: 150px;
    margin: 5px;
  }
  .our-pro-x1-pic5 {
    width: 150px;
    height: 150px;
    margin: 5px;
  }
  .our-pro-x1-pic6 {
    width: 150px;
    height: 150px;
    margin: 5px;
  }
  .our-pro-x1-pic7 {
    width: 150px;
    height: 150px;
    margin: 5px;
  }
  .our-pro-x1-pic8 {
    width: 150px;
    height: 150px;
    margin: 5px;
  }

  .container {
    margin-top: 250px;
    width: 100%;
  }

  .inputBox {
    margin: 20px 0 0 65px;
  }

  .site-x1-letters {
    left: 7%;
  }

  .site-x1-le {
    left: 9%;
  }

  .site-x1-lett {
    left: 58%;
  }

  .site-x1-le1 {
    left: 63%;
  }

  .our-block {
    font-size: 0.8rem;
  }

  .about-us {
    width: 100px;
    margin: 10px 20px;
  }

  /* about media queries */

  .our-vision {
    margin: 0;
    line-height: 0;
    padding: 0;
    height: 420px;
  }
  .vision-letters {
    font-size: 0.6rem;
    margin: 0;
    line-height: 0;
  }

  .vision-letters h2 {
    margin: 10px;
    padding: 0;
    line-height: 0.2rem;
  }

  /* contact media queries */
  .con-tainer-x1 {
    display: block;
  }

  .btn-x2 {
    margin: 20px 0 0 150px;
  }

  .left-side {
    margin-left: 15px;
  }

  .Message-cont {
    width: 345px;
  }

  /* gallery media queries */
  .gall-ery {
    display: block;
  }
}

/* @media screen and (min-width: 411px) and (max-width: 766px) {
  .links {
    font-size: 0.5rem;
  }
  .front-p {
    max-width: 100%;
  }
  .logo {
    height: 50px;
  }

  .front-p-letters {
    line-height: 1rem;
    font-size: 0.8rem;
  }

  .fp-letters {
    font-size: 1.5rem;
  }

  .fpp-letters {
    font-size: 0.8rem;
  }

  .bucket {
    width: 100%;
    display: block;
  }

  .bucket-x1 {
    width: 250px;
  }

  .bucket-x1-pic1 {
    width: 240px;
  }

  .bucket-x1-pic2 {
    width: 240px;
  }

  .bucket-x1-pic3 {
    width: 240px;
  }
  .our-pro {
    margin-top: 55px;
    padding-right: 55px;
  }

  .our-pro-x1 {
    width: 150px;
    margin: 0;
    padding: 0;
  }

  .our-pro-x1-pic {
    width: 130px;
    margin: 5px 1px;
    padding: 0;
  }
  .our-pro-x1-pic2 {
    width: 130px;
    margin: 5px 1px;
    padding: 0;
  }
  .our-pro-x1-pic3 {
    width: 130px;
    margin: 5px 1px;
    padding: 0;
  }
  .our-pro-x1-pic4 {
    width: 130px;
    margin: 5px 1px;
    padding: 0;
  }
  .our-pro-x1-pic5 {
    width: 130px;
    margin: 5px 1px;
    padding: 0;
  }
  .our-pro-x1-pic6 {
    width: 130px;
    margin: 5px 1px;
    padding: 0;
  }
  .our-pro-x1-pic7 {
    width: 130px;
    margin: 5px 1px;
    padding: 0;
  }
  .our-pro-x1-pic8 {
    width: 130px;
    margin: 5px 1px;
    padding: 0;
  }

  .container {
    margin-top: 150px;
    width: 100%;
  }
} */
